<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag "https://s-media-cache-ak0.pinimg.com/564x/28/da/45/28da45b9b6c5d2c3a566e75b824c5635.jpg" %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %>
<%= link_to 'Back', photos_path %>
