<html>
<head>
	<title></title>
</head>
	<body>
		<form action="/new" method="POST">
			<h2>Нов пост:</h2>
			<b style="float: left; margin-right: 30px">Заглавие:</b><input type="text" name="title" required/></br>
			<b style="float: left; margin-right: 60px">Текст: </b><input type="text" name="post" required/></br>
			<input type="submit" name="create" value="create"/>
		</form>
	</body>
</html>